<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhang.mybatis.dao.UserDao">

    <select id="findById" parameterType="int" resultType="com.zhang.mybatis.entity.User">
        select * from user where id = #{id}
    </select>

    <insert id="insert" parameterType="com.zhang.mybatis.entity.User">
        insert into user (name,password,age,status) values (#{user.name},#{user.password},#{user.age},#{user.status})
    </insert>

    <select id="findAllUsers" resultType="com.zhang.mybatis.entity.User">
        select * from user
    </select>
</mapper>